* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page-body {
  height: 100vh;
  background-color: black;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-section {
  padding: 0 0 15px 0;
  height: 100vh;
  overflow: auto;
}
@media (min-width: 768px) {
  .main-section {
    padding: 0 0 24px 0;
  }
}

.visiually-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1000;
  height: 0;
  width: 0;
}

.tournament__button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournament__button-play-match {
  cursor: pointer;
  font-size: 10px;
  display: block;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(../img/icon-fight.svg);
  background-image: url(../img/icons8-mortal-kombat-white.svg);
  background-position: center;
  background-size: 40px 40px;
  background-color: white;
  border-radius: 50%;
  transition: all 500ms;
}
.tournament__button-play-match:hover {
  transition: all 500ms;
  background-color: red;
  transform: scale(1.1);
}
.tournament__button-play-match.hidden {
  transition: all 500ms;
  transform: scale(0);
  visibility: hidden;
}

.tournament-section {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .tournament-section {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  }
}

.tournament__legend-table {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
}

.tournament__legend-desc {
  font-size: 12px;
}

.tournament__table {
  margin-top: 25px;
}

.tournament__legend-round {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  text-transform: uppercase;
}
.tournament__legend-round:nth-child(5) {
  display: none;
}
.tournament__legend-round:nth-child(6) {
  display: none;
}
.tournament__legend-round:nth-child(7) {
  display: none;
}
@media (min-width: 768px) {
  .tournament__legend-round:nth-child(5) {
    display: flex;
  }
  .tournament__legend-round:nth-child(6) {
    display: flex;
  }
  .tournament__legend-round:nth-child(7) {
    display: flex;
  }
}

.tournament__table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

@media (min-width: 768px) {
  .tournament__round.east-side .tournament__matchup:before {
    left: -5px;
    right: auto;
  }
}

.tournament__round--one .tournament__team-name {
  display: none;
}
.tournament__round--one.west-side {
  grid-column: 1/2;
  grid-row: 1/2;
}
.tournament__round--one.east-side {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (min-width: 768px) {
  .tournament__round--one.west-side {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .tournament__round--one.east-side {
    grid-column: 7/8;
    grid-row: 1/2;
  }
}

.tournament__matchup {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.tournament__matchup:before {
  position: absolute;
  content: "";
  right: -5px;
  width: 2px;
  top: 20px;
  height: calc(100% - 40px);
  background-color: white;
}

.tournament__team {
  font-size: 10px;
  padding: 6px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 25px 25px;
  background-position: calc(100% - 5px) center;
  transition: all 2000ms;
}
.tournament__team::after {
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  position: absolute;
  content: "";
  bottom: calc(100% + 10px);
  left: calc(50% - 40px);
  width: 80px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url(../img/winner-cup-2.png);
  background-size: contain;
}
.tournament__team.champion::after {
  opacity: 1;
  transition: opacity 1200ms;
}
.tournament__team.played {
  background-color: rgb(235, 233, 233);
}
.tournament__team.looser {
  transition: all 1200ms delay 200ms;
  border: 1px solid rgba(175, 110, 110, 0.301);
  background-color: rgba(175, 110, 110, 0.13);
  transform: scale(0.9);
  background-color: gray;
}
.tournament__team.looser .tournament__team-score {
  color: red;
}
.tournament__team.battle {
  animation: shake 200ms linear running;
}
.tournament__team.not-ready {
  transition: all 200ms;
  border: 1px solid rgba(29, 24, 24, 0.342);
  background-color: rgba(36, 35, 35, 0.74);
}

.tournament__team-input {
  display: inline;
  font-size: 8px;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-right: 4px;
  border: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .tournament__team-input {
    font-size: 14px;
  }
}

.tournament__team-name {
  font-size: 8px;
}
@media (min-width: 768px) {
  .tournament__team-name {
    font-size: 14px;
  }
}

.tournament__team-score {
  display: block;
  font-size: 10px;
  font-weight: 600;
  margin-right: 4px;
}
@media (min-width: 768px) {
  .tournament__team-score {
    font-size: 14px;
  }
}

.tournament__round--two .tournament__matchup {
  height: 37%;
}
.tournament__round--two .tournament__matchup:before {
  top: 36px;
  height: 70%;
}
.tournament__round--two.west-side {
  grid-column: 2/3;
  grid-row: 1/2;
}
.tournament__round--two.east-side {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 768px) {
  .tournament__round--two.west-side {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tournament__round--two.east-side {
    grid-column: 6/7;
    grid-row: 1/2;
  }
}

.tournament__round--three .tournament__matchup {
  height: 75%;
}
.tournament__round--three .tournament__matchup:before {
  top: 70px;
  height: 70%;
}

.tournament__round--four {
  grid-column: 4/5;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  .tournament__round--four {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.final {
  position: relative;
}
.final .tournament__matchup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 10px;
  height: 100%;
}
.final .tournament__matchup:before {
  display: none;
}
.final.show-champion .tournament__winner-wrapper {
  opacity: 1;
}
@media (min-width: 768px) {
  .final .tournament__matchup {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    gap: 10px;
    height: auto;
  }
}

.tournament__winner-wrapper {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1500ms;
}
@media (min-width: 768px) {
  .tournament__winner-wrapper {
    top: 0%;
    right: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
  }
}

.tournament__winner-name {
  color: white;
  font-size: 20px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .tournament__winner-name {
    font-size: 25px;
  }
}

.tournament__winner-logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.tournament__team-logo-label {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 38px;
  background-color: transparent;
}

.tournament__team-logo-input {
  display: block;
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  z-index: -1000;
  pointer-events: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.options {
  display: flex;
}

.options__input {
  width: 30px;
}

.options__desc {
  color: white;
}